{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='masonry.pkgd.min.js') }}"></script>
    <title>Characters</title>
    <style>
        .grid-item {
            width: 160px;
            text-align: center;
            float: left;
            background: #ffd1d1;
            border: 2px solid #333;
            border-color: hsla(0, 100%, 75%, 0.5);
            border-radius: 5px;
        }
        a {
            color: #800000;
        }
        a:hover {
            color: #800000;
        }
    </style>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="grid">
         {% for char in characters %}
             <div class="grid-item">
                 <a href="character/{{ char }}">
                     <img src="{{ url_for('static', filename='characters/{}.png'.format(char)) }}"/> <br/>
                     <span>{{ char }}</span>
                 </a>
             </div>
         {% endfor %}
        </div>
    </div>
    <script>
        $('.grid').masonry({
          itemSelector: '.grid-item',
          columnWidth: 160
        });

        $('button.character-button').click((e) => {
            let el = e.target;
            if (el.tagName !== 'BUTTON')
                el = el.parentElement;
            const char = el.dataset.character;
            $.ajax({
                url: `character/${char}`,
                method: "PUT"
            }).then(() => {
                console.log('ayyy');
                window.location.href = `character/${char}`
            });
        });
    </script>
{% endblock %}