{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <title>{{ character }}</title>
    <style>
        #videoElement {
            width: 100%;
            height: 100vh;
            background-color: #666;
        }
        #recording {
            position: absolute;
            left: 20px;
            visibility: hidden;
        }
        #recording .visible {
            visibility: visible;
        }

        .record-button.recorded {
            background-color: lightgrey;
        }
    </style>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container-fluid" style="text-align: center">
        <video autoplay="true" id="videoElement"></video>
        <button class="btn btn-danger" id="recording">???</button>

        <h3>{{ character }}</h3>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">

            {% for move in moves %}
              <label class="btn btn-outline-primary record-button {{ 'recorded' if moves[move] else '' }}"
                     data-character="{{ character }}"
                     data-move="{{ move }}">
                  <input type="radio" name="options" autocomplete="off"> {{ move }}
              </label>
            {% endfor %}
        </div>

        <button class="btn btn-danger" id="record-button">Record</button>
        <button class="btn btn-warning" id="playback-button">Playback</button>
    </div>

    <script>
        let video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (err) {
              console.log("Something went wrong!");
              console.error(err);
            });
        }

        const recordingLabel = $('#recording');
        let selectedCharacter = null;
        let selectedMove = null;
        $('label.record-button').click((e) => {
            let target = e.target;
            let {character, move} = target.dataset;
            selectedCharacter = character;
            selectedMove = move;
        });

        $('#record-button').click(() => {
            $.ajax({
                url: `/${selectedCharacter}/${selectedMove}/record`,
                method: 'POST'
            }).then(() => {
                recordingLabel.text(`RECORDING: ${selectedCharacter} ${selectedMove}`);
                recordingLabel.addClass('visible');
                $("html, body").animate({ scrollTop: 0 }, "fast");
            });
        });

        $('#playback-button').click(() => {
            $.ajax({
                url: `/${selectedCharacter}/${selectedMove}/playback`,
                method: 'POST'
            }).then((data) => {
                console.log('waiting for', data.wait);
                setTimeout(() => recordingLabel.click(), data.wait  * 1000);
                recordingLabel.text(`PLAYBACK: ${selectedCharacter} ${selectedMove}`);
                recordingLabel.addClass('visible');
                $("html, body").animate({ scrollTop: 0 }, "fast");
            });
        });

        recordingLabel.click(() => {
            recordingLabel.removeClass('visible');
            $.ajax({
                url: '/stop',
                method: 'POST'
            }).then(() => {
                console.log('recording stopped');
                $("html, body").animate({ scrollTop: '100%' }, "fast");
            });
        });
    </script>
{% endblock %}